@using System.Net
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.Data.Model.QuestSystem

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<input type="text" id="filterByQuest" @bind-value="@QuestFilter" @bind-value:event="oninput" placeholder="Название квеста" />
<input type="text" id="filterByNpc" @bind-value="@NpcFilter" @bind-value:event="oninput" placeholder="Имя НПС" />
<input type="text" id="filterByItem" @bind-value="@ItemFilter" @bind-value:event="oninput" placeholder="Название предмета" />
<table class="table">
    <thead>
        <tr>
            <th>Редактировать квестовый предмет</th>
            <th>Название квеста</th>
            <th>У какого НПС на старте игры</th>
            <th>Название предмета</th>
            <th>Технический документ</th>
            <th>Готовность тех документа</th>
            <th>Требуемое количество предметов</th>
            <th>Готовность предметов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questItem in _filteredItems)
        {
            <tr>
                <td><button class="btn btn-primary" @onclick="(() => NavigateToQuestItemView(questItem.Id))"> <span class="oi oi-pencil" aria-hidden="true"></span> Редактировать предмет</button></td>
                <td><button class="btn btn-primary" @onclick="(() => NavigateToQuestView(questItem.Quest.Id))">@questItem.Quest.Name</button></td>
                <td><button class="btn btn-primary" @onclick="(() => NavigateToNpcView(questItem.StartingNpc.Id))">@questItem.StartingNpc.Name</button></td>
                <td><button class="btn btn-primary" @onclick="(() => NavigateToItemView(questItem.Item.Id))">@questItem.Item.Name</button></td>
                <td>
                    @if (!string.IsNullOrEmpty(questItem.TechnicalDocumentForNpc))
                    {
                        <button class="btn btn-primary" @onclick="(() => EditTechnicalDocument(questItem.TechnicalDocumentForNpc))"> <span class="oi oi-pencil" aria-hidden="true"></span> Редактировать документ</button>
                        <button class="btn btn-primary" @onclick="(() => ChangeTechnicalDocumentStatus(questItem))"> Сменить статус </button>
                    }
                </td>
                <td>
                    @if (questItem.IsTechnicalDocumentReady)
                    {
                        <span class="oi oi-check" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="oi oi-ban" aria-hidden="true"></span>
                    }
                </td>
                <td>@questItem.AmountNeeded</td>
                <td>
                    @if (questItem.IsReady)
                    {
                        <span class="oi oi-check" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="oi oi-ban" aria-hidden="true"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code
                   {
    private List<QuestItem> _filteredItems;
    private string _questFilter = string.Empty;
    private string _npcFilter = string.Empty;
    private string _itemFilter = string.Empty;
    [CascadingParameter]
    private List<QuestItem> Items { get; set; }

    [CascadingParameter(Name = "BaseApiUrl")] protected string BaseApiUrl { get; set; }

    public string QuestFilter
    {
        get => _questFilter;
        set
        {
            _questFilter = value;
            FilterItems();
        }
    }

    public string NpcFilter
    {
        get => _npcFilter;
        set
        {
            _npcFilter = value;
            FilterItems();
        }
    }

    public string ItemFilter
    {
        get => _itemFilter;
        set
        {
            _itemFilter = value;
            FilterItems();
        }
    }

    protected override Task OnParametersSetAsync()
    {
        _filteredItems = Items;
        return base.OnParametersSetAsync();
    }

    private void FilterItems()
    {
        _filteredItems = Items
            .Where(x => x.Quest.Name.Contains(_questFilter, StringComparison.OrdinalIgnoreCase))
            .Where(x => x.StartingNpc.Name.Contains(_npcFilter, StringComparison.OrdinalIgnoreCase))
            .Where(x => x.Item.Name.Contains(_itemFilter, StringComparison.OrdinalIgnoreCase))
            .ToList();
        StateHasChanged();
    }

    private void NavigateToQuestView(int questId)
    {
        NavigationManager.NavigateTo($"/quests/{questId}");
    }

    private void NavigateToQuestItemView(int questItemId)
    {
        NavigationManager.NavigateTo($"/questItems/edit/{questItemId}");
    }

    private void NavigateToNpcView(int npcId)
    {
        NavigationManager.NavigateTo($"/npcs/{npcId}");
    }

    private void NavigateToItemView(int itemId)
    {
        NavigationManager.NavigateTo($"/items/{itemId}");
    }

    private void EditTechnicalDocument(string link)
    {
        JsRuntime.InvokeAsync<object>("open", link, "_black");
    }

    private async Task ChangeTechnicalDocumentStatus(QuestItem item)
    {
        item.IsTechnicalDocumentReady = !item.IsTechnicalDocumentReady;
        await Http.PutJsonAsync<QuestItem>($"{BaseApiUrl}/questItems", item);
        StateHasChanged();
    }
}