@page "/login"
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.Data.Model.Security
@using LarpQuestSystem.WebApp.Services
@inject IAuthService AuthService
@inject NavigationManager UriHelper

<h1>Логин</h1>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Введите свои данные</h5>
        <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email</label>
                <InputText Id="email" Class="form-control" @bind-Value="@loginModel.Email" />
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="@loginModel.Password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </EditForm>
    </div>
</div>

@code {

    private LoginModel loginModel = new LoginModel();
    private bool ShowErrors;
    private string Error = "";

    private async Task HandleLogin()
    {
        ShowErrors = false; 
        var result = await AuthService.Login(loginModel);

        if (result.Successful)
        {
            UriHelper.NavigateTo("/");
        }
        else
        {
            Error = result.Error;
            ShowErrors = true;
        }
    }

}