@page "/quests/{QuestId:int}"
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.WebApp.Components

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IModalService Modal
@inject IJSRuntime JsRuntime

<h1>Квест</h1>

@if (_quest == null)
{
    <p><em>@_message</em></p>
}
else
{
    <p><em>Имя: @_quest.Name</em></p>
    <p>
        <em>Художественный текст: @GetStatus(_quest.IsArtisticTextReady)</em>
        @if (!string.IsNullOrEmpty(_quest.ArtisticTextLink))
        {
            <button class="btn btn-primary" @onclick="EditArtisticTextDocument"> <span class="oi oi-pencil" aria-hidden="true"></span> Редактировать документ</button>
            <button class="btn btn-primary" @onclick="@ChangeArtisticTextStatus"> Сменить статус </button>
        }
    </p>
    <p>
        <em>Техническое описание: @GetStatus(_quest.IsTechnicalDescriptionReady)</em>
        @if (!string.IsNullOrEmpty(_quest.TechnicalDescriptionLink))
        {
            <button class="btn btn-primary" @onclick="EditTechnicalTextDocument"> <span class="oi oi-pencil" aria-hidden="true"></span> Редактировать документ</button>
            <button class="btn btn-primary" @onclick="@ChangeTechnicalTextStatus"> Сменить статус </button>
        }
    </p>
    <p><em>Квест выдает: @_questGiver.Name</em></p>
    <p><em>Квест принимает: @_questEnding.Name</em></p>
    <div style="margin-bottom: 10px">
        <button class="btn btn-primary" @onclick="@DeleteQuest">Удалить квест</button>
    </div>
    @if (_questChains.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Цепочка квестов</th>
                    <th>Шаг</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var questChain in _questChains)
                {
                    <tr @onclick="(() => NavigateToChainView(questChain.ChainId))">
                        <td>@_chains.First(x => x.Id == questChain.ChainId).Name</td>
                        <td>@questChain.StepNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>Квест не участвует в цепочках.</em></p>
    }
}

@code {
    private string _message = "Загрузка...";
    private Quest _quest;
    private Npc _questGiver;
    private Npc _questEnding;
    private List<QuestChain> _questChains;
    private List<Chain> _chains;

    [Parameter]
    public int QuestId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        _chains = new List<Chain>();
        _quest = await Http.GetJsonAsync<Quest>($"http://localhost/LarpQuestSystem/api/quests/{QuestId}");
        _questGiver = await Http.GetJsonAsync<Npc>($"http://localhost/LarpQuestSystem/api/npcs/{_quest.QuestGiverId}");
        _questEnding = await Http.GetJsonAsync<Npc>($"http://localhost/LarpQuestSystem/api/npcs/{_quest.QuestEndingId}");
        _questChains = await Http.GetJsonAsync<List<QuestChain>>($"http://localhost/LarpQuestSystem/api/questChains/byQuestId/{QuestId}");
        if (_questChains.Any())
        {
            foreach (var questChain in _questChains)
            {
                var chain = await Http.GetJsonAsync<Chain>($"http://localhost/LarpQuestSystem/api/chains/{questChain.ChainId}");
                _chains.Add(chain);
            }
        }

    }

    private async Task DeleteQuest()
    {
        if (_questChains.Any())
        {
            var parameters = new ModalParameters();
            parameters.Add("Message", "Этот квест участвует в цепочке. Сначала удалите его из цепочки.");

            Modal.Show<Notification>("Notification", parameters);
        }
        else
        {
            var response = await Http.DeleteAsync($"http://localhost/LarpQuestSystem/api/quests/{QuestId}");
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/quests");
            }
            else
            {
                var parameters = new ModalParameters();
                parameters.Add("Message", "Что-то пошло не так.");

                Modal.Show<Notification>("Notification", parameters);
            }
        }
    }

    private void EditArtisticTextDocument()
    {
        JsRuntime.InvokeAsync<object>("open", _quest.ArtisticTextLink, "_black");
    }

    private void EditTechnicalTextDocument()
    {
        JsRuntime.InvokeAsync<object>("open", _quest.TechnicalDescriptionLink, "_black");
    }

    private async Task ChangeArtisticTextStatus()
    {
        _quest.IsArtisticTextReady = !_quest.IsArtisticTextReady;
        await Http.PutJsonAsync<Quest>("http://localhost/LarpQuestSystem/api/quests", _quest);
        StateHasChanged();
    }

    private string GetStatus(bool isReady)
    {
        if (isReady)
        {
            return "Готово.";
        }

        return "Не готово.";
    }

    private async Task ChangeTechnicalTextStatus()
    {
        _quest.IsTechnicalDescriptionReady = !_quest.IsTechnicalDescriptionReady;
        await Http.PutJsonAsync<Quest>("http://localhost/LarpQuestSystem/api/quests", _quest);
        StateHasChanged();
    }

    private void NavigateToChainView(int chainId)
    {
        NavigationManager.NavigateTo($"/chains/{chainId}");
    }
}
