@page "/chains/{ChainId:int}"
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.WebApp.Components.Utils

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IModalService Modal

<h1>Цепочка квестов</h1>

@if (_chain == null)
{
    <p><em>@_message</em></p>
}
else
{
    <p><em>Название: @_chain.Chain.Name</em></p>
    <p><em>Описание: @_chain.Chain.Description</em></p>
    <div style="margin-bottom: 10px">
        <button class="btn btn-primary" @onclick="@EditChain">Редактировать цепочку</button>
        <button class="btn btn-primary" @onclick="@DeleteChain">Удалить цепочку</button>
    </div>
    <br />
    <br />
    <hr />
    <h2>Шаги цепочки</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Название квеста</th>
                <th>Шаг</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var questChain in _chain.QuestChains.OrderBy(x => x.StepNumber))
            {
                <tr @onclick="(() => NavigateToQuestView(questChain.QuestId))">
                    <td>@questChain.Quest.Name</td>
                    <td>@questChain.StepNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private string _message = "Загрузка...";
    private ChainInfoView _chain;

    [Parameter]
    public int ChainId { get; set; }

    [CascadingParameter(Name = "BaseApiUrl")] protected string BaseApiUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _chain = await Http.GetJsonAsync<ChainInfoView>($"{BaseApiUrl}/chains/{ChainId}");
    }

    private async Task DeleteChain()
    {
        HttpResponseMessage response;
        foreach (var questChain in _chain.QuestChains)
        {
            response = await Http.DeleteAsync($"{BaseApiUrl}/questChains/{questChain.Id}");
            if (!response.IsSuccessStatusCode)
            {
                var parameters = new ModalParameters();
                parameters.Add("Message", "Что-то пошло не так.");

                Modal.Show<Notification>("Notification", parameters);
            }
        }
        response = await Http.DeleteAsync($"{BaseApiUrl}/chains/{ChainId}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/chains");
        }
        else
        {
            var parameters = new ModalParameters();
            parameters.Add("Message", "Что-то пошло не так.");

            Modal.Show<Notification>("Notification", parameters);
        }
    }

    private void EditChain()
    {
        NavigationManager.NavigateTo($"/chains/edit/{ChainId}");
    }

    private void NavigateToQuestView(int questId)
    {
        NavigationManager.NavigateTo($"/quests/{questId}");
    }
}